{% extends "base.html" %}
{% block content %}
<h1 class='display 4'>{{ course.name }}</h1>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">student Id</th>
        <th scope="col">Name</th>
        <th scope="col">submitted at</th>
        <th scope="col">file </th>
      </tr>
    </thead>
    <tbody>
        {% for i in course.submission.all %}
      <tr>
        <th scope="row">{{i.user.username}}</th>
        <td>{{ i.user.first_name}} {{ i.user.last_name}}</td>
        <td>{{i.submitted_at}}</td>
        <td><a href='{{i.answer.url }}' class='btn btn-danger'download>{{i.answer.name}}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}